body {
    height: auto;
}

header {
    width: 100vw;
    height: 478px;
    background-image: url(../images/pexels-picjumbocom-210661.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

header h1 {
    font-size: 64px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    text-shadow: 3px 3px 0px #58A4B0, 6px 6px 0px #1B3F45;
    margin-left: 2rem;
}

header div {
    width: 901px;
    height: 136px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    background: rgba(88, 164, 176, 0.8);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

main {
    overflow: hidden;
}

.section1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.25 ease;
}

.structure.active {
    height: auto;
    background-color: #1B3F45;

}

.structure {
    position: relative;
    height: 20vh;
    box-shadow: 0px 5px 15px rgba(155, 31, 0, 0.2);
    transition: all 0.25s ease;
}


.structure p {
    opacity: 0;
    visibility: hidden;
    line-height: 1.5rem;
    width: 70%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 35px;
    text-align: justify;
    align-items: center;
    margin: auto;
    padding: 2rem;
}

.structure.active p {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;

}


.section1 h2 {
    align-self: flex-start;
    margin: 2rem;
    font-size: 2rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    text-shadow: 3px 4px 0px #EF8275;
    transition: all 0.25s ease;

}

.section1 span {
    font-size: 3rem;
}

.section1 .perso {
    align-self: flex-end;
}


.btnDefil {
    position: absolute;
    top: 30px;
    right: 60px;
    cursor: pointer;
    transition: all 0.25s ease;
    width: 30px;
    -webkit-animation: float 2s infinite;
    animation: float 2s infinite;
}

.structure.active .btnDefil {
    transform: rotateZ(180deg);
<<<<<<< HEAD
}




=======
}
>>>>>>> 0cf5bff062e5f39c815ed2297cd74d1f7e945fb4
