*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: #58A4B0;
    color: white;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #58a4b0d0;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    z-index: 10;
}

.links{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.links li{
    font-size: 1rem;
    list-style: none;
    margin: 2rem;
}

.links a{
    position: relative;
    text-decoration: none;
    color: white;
}

.links a::before{
    content: '';
    position: absolute;
    bottom: -30%;
    width: 0%;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: all 0.25s ease-out;
}

.links a:hover::before{
    width: 100%;
    opacity: 1;
}

.fond {
    height: 500px;
    width: 100vw;
    background-image: url(/images/leon-Oalh2MojUuk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
    margin-bottom: 12vh;

}

h1 {
    padding-top: 100px;
    font-size: 64px;
    z-index: 1;
    width: 100vh;
    margin-left: 30px;
    text-shadow: 3px 3px 0px #58A4B0, 6px 6px 0px #1B3F45;
    
}

.soustitre {
    background-color: rgba(88, 164, 176, 0.800);
    width: 45vw;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: right;
    padding-right: 50px;  
}

.soustitre {
    font-size: 36px;
    opacity: 1;
    
}
.ligne { 
    
    width: 100vw;
    height: 539px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 10vh;
    
}
.deuxiemeligne {
    
    width: 100vw;
    height: 539px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 10vh;
}
.mateo {
    background-color: #1B3F45;
    Width: 448px;
    Height: 487px;
    filter: drop-shadow(20px 20px 0px rgba(0, 0, 0, 0.25));
    border-radius: 5%;
  
    

}
.theo{
    background-color: #1B3F45;
    Width: 448px;
    Height: 487px;
    filter: drop-shadow(20px 20px 0px rgba(0, 0, 0, 0.25));
    border-radius: 5%;
    
}

.photo{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 5%;
    left: 10%;
    background-color: aquamarine;
}
.description {
    padding-top: 20px;
    padding: 30px;
    position: absolute;
    top: 25%; 
}

.nom {
    position: absolute;
    top: 5%;
    left: 40%;
}
.photofel {
    background-image: url(/images/photo/felix.jpg);
    background-size: cover;
    height: 110px;
    width: 110px;
    position: absolute;
    top: 5%;
    left: 10%;
}
.photothv {
    background-image: url(/images/photo/photo_thv.jpg);
    background-size: cover;
    height: 110px;
    width: 110px;
    position: absolute;
    top: 5%;
    left: 10%;
}
.etoiles {
    width: 150px;
    position: absolute;
    top:20%;
    left: 50%;
}

.cv {
    background-color: #EF8275;
    padding: 10px;
    border-radius: 40px;
    position: absolute;
    top: 90%; left: 50%; 
    transform: translate(-50%, -50%);
    text-decoration: none;
    transition: ease .5s;
    color: #fff;
}
.cv:hover {
    background-color: #fff;
    color: #EF8275;
    padding-left: 15px;
    padding-right: 15px;
}



.ptdeux {
    background-color: #EF8275;
    margin-top: 40px;
    padding: 10px;
    width: 400px;
}


.contact {
    font-size: 36px;
    background-color: #EF8275;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 25vw;
    text-align: right;
    padding: 1rem;
    
}




.obl {
    margin: 10px;
    border: none;
    border-bottom: solid #fff;
    background-color: #58A4B0;
    color: #fff;
    width: 500px;
    font-size: 1.2rem;
    font-weight: 100;
    
} 
.champs{
    margin: 10px;
    border: #EF8275 solid;
    
    background-color: #fff;
    color: black;
    width: 500px;
}
.bouton {
    border: none;
    background-color: #EF8275;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    color: #fff;
    transition: ease .4s;
}

.bouton:hover {
    padding-right: 40px;
    padding-left: 40px;
} 


.center {
    text-align: center;
}

textarea {
    font-family: "Roboto", sans-serif;
}