.fond {
    height: 27vw;
    min-height: 200px;
    width: 100vw;
    background-image: url(../images/photo/photogroup.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;

}

.fond h1 {
    padding-top: 100px;
    font-size: 4rem;
    z-index: 1;
    width: 100vw;
    margin-left: 30px;
    text-shadow: 3px 3px 0px #58a4b0, 6px 6px 0px #1B3F45;

}

.fond h2 {
    background-color: rgba(88, 164, 176, 0.800);
    width: 55vw;
    padding: 30px;
    text-align: left;
    font-size: 1.5rem;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}


.cards {

    width: 100vw;
    height: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 150px;
}

.ligne {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.card {
    background-color: #1B3F45;
    width: 25%;
    height: 100%;
    box-shadow: 8px 8px 0px #EF8275, 16px 16px 0px rgba(255, 255, 255, 0.8);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.headCard {
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.headText {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card p {
    text-align: justify;
    margin: 0 auto;
    width: 80%;
    height: 40%;
    overflow: auto;
}

.liens {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 15%;
}


.photo {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 7vw;
    width: 7.5vw;
    border-radius: 50%;
    border: solid 5px #EF8275;
}

.leon {
    background-image: url(../images/photo/photoleon.png);
}

.mat {
    background-image: url(../images/photo/photomat.png);
}

.fel {
    background-image: url(../images/photo/felix.jpg);
}

.thv {
    background-image: url(../images/photo/photo_thv.jpg);
}

.description {
    padding: 1rem;
}

.nom {
    margin-bottom: 0;
    text-shadow: 2px 2px 0px #58a4b0, 4px 4px 0px #325f66;
}

.poste {
    text-align: center;
    width: 80%;
    margin: 10px 0;
}

.etoiles {
    width: 150px;
}

.cv {
    background-color: #EF8275;
    padding: 10px;
    border-radius: 40px;
    text-decoration: none;
    transition: ease .5s;
    color: #fff;
}

.cv:hover {
    background-color: #fff;
    color: #EF8275;
    padding-left: 15px;
    padding-right: 15px;
}


.contact {
    font-size: 36px;
    background-color: #EF8275;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 25vw;
    text-align: right;
    padding: 1rem;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

form * {
    font-family: "Roboto", sans-serif;
    margin-top: 50px;
}

form *:focus {
    outline: none;
}


.obl {
    border: none;
    border-bottom: solid #fff;
    background-color: #58A4B0;
    color: #fff;
    width: 50%;
    font-size: 1.2rem;
    font-weight: 100;
    transition: all 0.25s ease;
}

.obl:focus {
    border-bottom: solid #EF8275;
}

textarea {
    border: #EF8275 solid 5px;
    background-color: #fff;
    color: black;
    padding: 1rem;
    width: 50%;
    resize: none;
}

input[type="submit"] {
    margin-top: none;
    border: none;
    cursor: pointer;
    background-color: #EF8275;
    padding: 10px 25px;
    font-size: 1.25rem;
    border-radius: 10px;
    color: #fff;
    transition: all 0.25s ease;
}

input[type="submit"]:hover {
    padding: 10px 40px;
    background-color: #fff;
    color: #EF8275;
}